.payment4{
	text-align: center;
	margin-top: 150px;
}
.margin{
	margin-top: 150px;
}

.head{
	width: 450px;
	padding-left: 220px;
	font-size: 24px;
	font-style: bold;
	}
p{
	width: 470px;
	padding-left: 200px;
	font-size: 14px;
}	
.btn-style{
	margin-top: 80px;
}
.right .first-text3{
  font-size: 14px;
  opacity: 60%;
  text-align: center;
  width: 470px;
  padding-left: 200px;
  margin-top: 20px;
}