.contain{
	text-align: center;
	width: 70%;
	padding-left: 300px;
}
.text2{
	font-family: Circular Std;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.02em;
}
.text3{
  font-size: 14px;
  opacity: 60%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
} 
.payment4{
	margin-top: 100px;
	margin-bottom: 20px;
}
.container-background .contain .new{
	text-align: center
}
/*.container-background .contain .centered {
  display: flex;
  align-items: center;
  justify-content: center;
}*/